* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: hsl(114, 25%, 70%);
  }
  
  .header {
    text-align: center;
    text-transform:lowercase
    padding: 32px;
    background-color: #3f4b32;
    color: #fff;
    border-bottom: 8px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2 0px10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius:50px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  